---
import "../styles/global.css";
import PlayerStats from '../components/PlayerStats.jsx';
---

<div class="flex flex-col items-center justify-center bg-gray-100">
    <span class="text-2xl">Buscador de Jugadores</span>
    <PlayerStats client:load />
</div>